<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Show</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .author_selector {
            display: flex;
            justify-content: space-between;
        }
        select {
            width: 120px;
        }
        button {
            float: right;
            margin: 15px 80px 0px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="leftcol">
            <h1>Title: {{}}</h1>
            <h3>Favorited by:</h3>
            <table>
                <tr>
                    <td>Database stuff will go here</td>
                </tr>
            </table>
        </div>
        <div class="rightcol">
            <h1>Add Book's Favorites</h1>
            <div class="favorite">
                <form action="/add/book/favorite/">
                    <div class="author_selector">
                        <label for="author">Author:</label>
                        <select name="author" id="author">
                            <option value=""></option>
                        </select>
                    </div>
                    <button>Add</button>
                </form>
            </div>
        </div>
    </div>
    <a href="/">Home</a>
</body>
</html>