<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }
        .title, .num_of_pages {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        .books_container {
            border: 2px solid black;
            width: 300px;
            height: 300px;
        }
        button {
            margin-left: 108px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="leftcol">
            <h1>New Books</h1>
            <form action="/add_book/" method="POST">
                <div class="title">
                    <label for="title">Title:</label>
                    <input type="text" name="title">
                </div>
                <div class="pages">
                    <label for="num_of_pages">Number of Pages:</label>
                    <input type="text" name="num_of_pages">
                </div>
                <br>
                <button>Create</button>
            </form>
        </div>
        <dov class="rightcol">
            <h1>All Books</h1>
            <div class="books_container">
                    {% for book in books %}
                    <div><a href="/books/{{ book.id }}">{{ book.title }}</a></div>
                    {% endfor %}
            </div>
        </dov>
    </div>
    <a href="/">Home</a>
    
</body>
</html>