* {
    font-family: sans-serif;
}

h2 {
    margin: 5px;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.all-container {
    width: 600px;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
}
.like_container {
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px black;
    width:370px;
    height: auto;
    margin: auto;
    margin: 0px 0px 10px 15px;
    padding: 15px;
}

.navbar {
    background-color: black;
    color: white;
    padding: 5px 0px 5px 25px;
}

.navbar h1 {
    margin: 0px;
}

.title {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -25px;
    padding: 0px;
}

.header h2 {
    margin-right:40px;
    flex: 1;
}

.like-button {
    background-color: rgb(211, 184, 30);
    border: 2px solid black;
    box-shadow: 4px 2px;
    width: 70px;
    height: 40px;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 18px;
}

#count, #count2, #count3 {
    width: 70px;
}

.leftcol {
    border: 4px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding: 20px 15px 15px 10px;
}

.usericon {
    width: 60px;
}

div .header {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
