.row {
    width: 500px;
    display:flex;
}

.color0 {
    background-color: red;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.color1 {
    background-color: black;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}