<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 500px;
        }
        .header {
            display:flex;
            justify-content: space-between;
        }
        body {
            width:700px;
            margin:auto;
        }
        button {
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Add New User</h1>
        <a href="/">Home</a>
    </div>
    <form action="/create" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="fname">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="lname">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <button>Create</button>
    </form>
    <a href="/">Cancel</a>
</body>
</html>