<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Leaderboards</h1>
    <table>
        <th>
            <td>Name</td>
            <td>Number of Tries</td>
        </th>
        {% for x in session %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ tries }}</td>
        </tr>
        {% endfor %}

    </table>
    <div class="table"></div>
</body>
</html>