<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Leaderboards</h1>
    <table>
        <th>
            <tr>
                <td>Name</td>
                <td>Number of Tries</td>
            </tr>
        </th>
        {% for x in session.leaderboard: %}
        <tr>
            <td>{{ session.leaderboard }}</td>
            <td>{{ session.leaderboard.tries }}</td>
            <!-- <td>{{ session.leaderboard.name }}</td>
            <td>{{ session.leaderboard.tries }}</td> -->
        </tr>
        {% endfor %}
    </table>
    <a href="/"><button>Play Again</button></a>

</body>
</html>