* {
    font-family:Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    border: 3px solid gray;
    box-shadow: 2px 2px black;
    width: 750px;
    margin-top:25px;
    border-radius: 8px;
}

.header {
    background-color: rgb(0, 135, 145);
    height:70px;
}

.usericon {
    width:80px;
    height:80px;
    border:3px solid rgb(177, 177, 177);
    border-radius: 45px;
    position:relative;
    top:-50px;
    left:20px;

}

.location_icon, .edit_icon {
    height:15px;
    width: 15px;
}

.info {
    margin: 25px;
    margin-top:-60px;
    
}

.location {
    display: inline-flex;
}

.edit {
    display: inline-flex;
}

p {
    margin-left: 10px;
    font-size: 20px;
    margin-top:0px;
}

a {
    margin-left: 10px;
}