<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: {{color}};
            width: 300px;
            height: 300px;
            border: 3px solid black;
            display:inline-block;
        }
        body {
            text-align: center;
            width:1300px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>

        {% for x in range(0,number): %}
            <div class="box"></div>
            {% endfor %}
</body>
</html>